

ts_play_info/

# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
*.db
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Virtual Environment
backend/venv/
backend/.env

# VSCode / PyCharm
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Migrations
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.log
**/migrations/*.db

# Static/Media
backend/staticfiles/
backend/media/

# Certbot (if present)
*.pem
*.csr
*.key

